<div class="resume">
    <div class="base">
        <div class="profile">
            <div class="photo"><img src="../../../assets/images/dorian2.jpg" /></div>
            <div class="info">
                <h4 class="name">Anthony Gadea</h4><small class="job">Administrador de servidores Linux. Front-end junior</small></div>
        </div>
        <div class="about">
            <h3>Sobre mi</h3>Apasionado del Hardware, con amplia experiencia laboral en administracion de servidores Linux. Desarrollador web expandiendo mi abanico de conocimientos desarrolando en nuevas tecnologias.</div>
        <div class="contact">
            <h3>Contacto</h3>
            <div class="call"><i class="fa fa-phone"></i><span>(+58)4242009468</span></div>
            <div class="address"><i class="fa fa-map-marker"></i><span>Caracas, Venezuela</span></div>
            <div class="email"><i class="fa fa-envelope"></i><span>Nightlycraow@gmail.com</span></div>
            <div class="website"><a href="http://codepen.io/xichen" target="_blank"> <i class="fa fa-home"></i><span>Derpy Blog</span></a></div>
        </div>
        <div class="follow">
            <h3>Follow</h3>
            <div class="box"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a><a href="javascript:void(0);"><i class="pif-plurkapp"></i></a><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a><a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                <a
                    href="javascript:void(0);"><i class="fa fa-tumblr"></i></a><a href="https://codepen.io/xichen/" target="_blank"><i class="fa fa-codepen"></i></a></div>
        </div>
    </div>
    <div class="func">
        <div class="work">
            <h3><i class="fa fa-briefcase"></i>Experiencia laboral</h3>
            <ul>
                <li><span>Front-end Web Designer</span><small>Jun 2017 - Actualmente</small></li>
                <li><span>Design Assistant (Free lancer)</span><small>Feb 2018 - Abr 2018</small></li>
            </ul>
        </div>
        <div class="edu">
            <h3><i class="fa fa-graduation-cap"></i>Educacion</h3>
            <ul>
                <li><span>Ingenieria en Computacion - Colegio universitario "Francisco de Miranda"</span><small>Ago 2015 - Actualmente</small></li>
                <li><span>Curso de programacion Inicial Python - Unaweb</span><small>Ago 2018 - Nov 2018</small></li>
            </ul>
        </div>
        <div class="skills-prog">
            <h3><i class="fa fa-code"></i>Lenguajes de Programacion</h3>
            <ul>
                <li data-percent="92"><span>HTML5</span>
                    <div class="skills-bar">
                        <div class="bar"></div>
                    </div>
                </li>
                <li data-percent="96"><span>CSS3</span>
                    <div class="skills-bar">
                        <div class="bar"></div>
                    </div>
                </li>
                <li data-percent="40"><span>Mysql Plsql</span>
                    <div class="skills-bar">
                        <div class="bar"></div>
                    </div>
                </li>
                <li data-percent="60"><span>Python</span>
                    <div class="skills-bar">
                        <div class="bar"></div>
                    </div>
                </li>
                <li data-percent="33"><span>Angular 8</span>
                    <div class="skills-bar">
                        <div class="bar"></div>
                    </div>
                </li>
                <li data-percent="52"><span>C++</span>
                    <div class="skills-bar">
                        <div class="bar"></div>
                    </div>
                </li>
                <li data-percent="20"><span>PHP</span>
                    <div class="skills-bar">
                        <div class="bar"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="skills-soft">
            <h3><i class="fa fa-th-list"></i>Software Skills</h3>
            <ul>
                <li data-percent="94"><svg viewbox="0 0 100 100"><circle cx="50" cy="50" r="45"></circle><circle class="cbar" cx="50" cy="50" r="45"></circle></svg><span>Hp data Protector</span><small></small></li>
                <li data-percent="80"><svg viewbox="0 0 100 100"><circle cx="50" cy="50" r="45"></circle><circle class="cbar" cx="50" cy="50" r="45"></circle></svg><span>WebMin</span><small></small></li>
                <li data-percent="89"><svg viewbox="0 0 100 100"><circle cx="50" cy="50" r="45"></circle><circle class="cbar" cx="50" cy="50" r="45"></circle></svg><span>VS Code</span><small></small></li>
                <li data-percent="55"><svg viewbox="0 0 100 100"><circle cx="50" cy="50" r="45"></circle><circle class="cbar" cx="50" cy="50" r="45"></circle></svg><span>Medibang</span><small></small></li>
            </ul>
        </div>
        <div class="interests">
            <h3><i class="fa fa-star"></i>Intereses</h3>
            <div class="interests-items">
                <div class="draw"><i class="fa fa-paint-brush"></i><span>Telltale</span></div>
                <div
                    class="movie"><i class="fa fa-film"></i><span>Hardware</span></div>
            <div class="music"><i class="fa fa-headphones"></i><span>Manga</span></div>
            <div class="game"><i class="fa fa-gamepad"></i><span>Gaming</span></div>
        </div>
    </div>
</div>
</div>

<script>
(function() {
  $('.skills-prog li').find('.skills-bar').each(function(i) {
    $(this).find('.bar').delay(i * 150).animate({
      width: $(this).parents().attr('data-percent') + '%'
    }, 1000, 'linear', function() {
      return $(this).css({
        'transition-duration': '.5s'
      });
    });
  });

  $('.skills-soft li').find('svg').each(function(i) {
    var c, cbar, circle, percent, r;
    circle = $(this).children('.cbar');
    r = circle.attr('r');
    c = Math.PI * (r * 2);
    percent = $(this).parent().data('percent');
    cbar = ((100 - percent) / 100) * c;
    circle.css({
      'stroke-dashoffset': c,
      'stroke-dasharray': c
    });
    circle.delay(i * 150).animate({
      strokeDashoffset: cbar
    }, 1000, 'linear', function() {
      return circle.css({
        'transition-duration': '.3s'
      });
    });
    $(this).siblings('small').prop('Counter', 0).delay(i * 150).animate({
      Counter: percent
    }, {
      duration: 1000,
      step: function(now) {
        return $(this).text(Math.ceil(now) + '%');
      }
    });
  });

}).call(this);
</script>